<%= div_for task do %>
<%= check_box_tag( "task_#{task.name.gsub(" ", "")}", task.id, false, class: "complete_check") %>

 <%= link_to task.name, [@project, task] %>
 <%= link_to "Show Subtasks", [@project, task], remote: true %>
<div class="subtasks" style="padding-left: 10px;">
</div>
<div class="completed">
<% if task.find_completed(@project).nil? %>
<% else %>
 Completed:
  <% task.find_completed(@project).each do |task_compl| %>
    <%= task_compl.name %>
  <% end %>
<% end %>
</div>
<% end %>
