<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<% unless @subtasks.nil? %>
  <p>Subtasks</p>
  <% @subtasks.each do |subtask| %>
    <p><%= link_to subtask.name, [@project, subtask], remote: true %></p>
  <% end %>
<% end %> 
<% if @task.users %>
<p> Users: </p>
<% @task.users.each do |user| %>
<%= user.email %> <br>
<% end %>
<% end %>
<%= link_to 'Add subtask', new_project_task_path(@project,parent: @task) %> |
<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Destroy',  project_task_path(@project, @task), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', [@project]%>
