<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Description:</strong><br>
  <%= @project.description %>
</p>
  <%= render @tasks%>
<div class="subtasks">
</div>
<%= link_to "Add Task", new_project_task_path(@project) %>
<br>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
