<h2>Add user</h2>

<%= form_for(@user, url: user_path, html: { class: "form-horizontal"}) do |f| %>
  <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
     <%= f.email_field :email, class: "form_control", placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form_control"  %>
  </div>
    <%= f.submit "Add user", class: "btn btn-default" %>
<% end %>
