<!DOCTYPE html>
<html>
<head>
  <title>Pm</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  </head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#"><%= current_user.email %></a></li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li class="divider"></li>
               <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            </ul>
         </li>
      </ul>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li <% if current_page?(controller: '/projects') %> class="active" <% end %>><%= link_to "Projects",projects_path %></li>
        <% if current_user.admin? %>
        <li <% if current_page?(controller: '/user') %> class="active" <% end %>><%= link_to "Users",user_index_path %></li>
        <% end %>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Export</a></li>
      </ul>
       <p class="alert"><%= alert %></p>
       <p class="alert"><%= alert %></p>
      </div>

      <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0">
        <%= yield %> 
     </div>
    </div>
</div>
</body>
</html>
